body {
  &.dashboard-popup-is-open {
    overflow: hidden;
    .dashpopup {
      visibility: visible;
      opacity: 1;
    }
  }
}
.dashpopup {
  &:before {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    height: 500px;
    background-color: #fff;
    content: " "
  }
  transition: all ease-in-out 0.3s;
  visibility: hidden;
  opacity: 0;
  @include full_size;
  position: fixed;
  z-index: $zi_dashboardpopup;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(#121B2C,0.7);
  .dashpopup-wrap {
    position: relative;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    width: 460px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
    text-align: center;
    padding: 68px 20px;
    background-color: $color_oslo_gray;

    .close {
      position: absolute;
      right: 15px;
      top: 15px;
      width: 16px;
      height: 16px;
      &:before,
      &:after {
        content: " ";
        width: 20px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        left: 0;
        top:0;
      }
      &:after {
        transform: translateY(7px) translateX(-2px) rotate(45deg);
      }
      &:before {
        transform: translateY(7px) translateX(-2px) rotate(-45deg);
      }
    }
    .popup-title,
    .popup-subtitle {
      color: #fff;
    }
    .popup-subtitle {
      font-family: $font-stack-2;
      font-size: 18px;
      font-weight: 500;
      line-height: 18px;
      margin: 20px 0;
    }
    .popup-title {
      font-family:$font-stack;
      font-size: 32px;
      font-weight: 900;
      line-height: 34px;
      text-align: center;
      margin: 30px 0;
    }

    .form-dashboard {
      .title {
        border-bottom: 1px solid $border_color;
        h2 {
          color: $color_prussian_blue;
          font-family: $font-stack-2;
          font-size: 20px;
          font-weight: bold;
          line-height: 24px;
          margin: 19px 0;
        }
      }
    }
  }
  &.form-popup {
    text-align: left;
    .dashpopup-wrap {
      width: 500px;
      padding: 0;
      background-color: #FFFFFF;
      border: 1px solid $color_iron;

      a.close {
        position: relative;
        display: inline-block;
        right: initial;
        left: initial;
        top: initial;
        bottom: initial;
        &:before,
        &:after {
          background-color: $color_gray_chateau;
        }
      }
      .title {
        h2 {
           min-height: 25px;
          text-align: left;
          padding:0 24px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .profile-picture {
            position: absolute;
            left: calc(50% - 100px);
            top: calc(0% - 34px);
            width: 200px;
            display: flex;
            flex-flow: column;
            align-items: center;
            .profile {
              height: 64px;
              width: 64px;
              border: 4px solid #F9F9F9;
              background-color: #FFFFFF;
              border-radius: 100%;
              overflow: hidden;
              > img {
                width: 100%;
                height: auto;
                vertical-align: top;
              }
            }
            .label {
              color: $color_prussian_blue;
              font-family: $font-stack-2;
              font-size: 14px;
              font-weight: 500;
              line-height: 17px;
              margin-top: 6px;
            }
          }
        }
      }
      .form-dashboard {
        .form-place {
          margin: 20px 24px 15px 24px;
          border: 1px solid $color_iron;
          border-radius: 5px;
          &.no-bottom-margin {
            margin-bottom: 0;
          }
          &.no-border {
            border: 0;
          }
          textarea,
          input[type='text'] {
            margin: 0 15px;
            width: calc(100% - 30px);
            vertical-align: top;
            @mixin placeholder {
              color: $color_gray_chateau;
              font-family: $font-stack-2;
              font-size: 13px;
              font-weight: 300;
              //line-height: 16px;
              color: $color_gray_chateau;
              padding: 0;
            }
          }
          input[type='text'] {
            border-bottom: 1px dashed $color_iron;
            padding: 0;
          }
          textarea {
            min-height: 120px;
            height: 120px;
            resize: none;
            padding: 15px 0;
          }
        }
        .attachment {
          text-align: left;
          margin-top: 8px;
          margin-bottom: 18px;
          padding: 0 24px;
          justify-content: flex-start;
        }
        .video {
          margin: 0 24px;
          margin-top: 14px;
          margin-bottom: 24px;
          text-align: left;
          .entry {
            display: inline-flex;
            padding: 10px;
            border: 1px solid $color_iron;
            background-color: $color_greyish;
            max-width: 300px;
            border-radius: 5px;
            text-align: left;
            .video-image {
              display: block;
              width: 110px;
              flex-shrink: 0;
              margin-right: 10px;
              > img {
                width: 100%;
                height: auto;
                vertical-align: top;
              }
            }
            .video-title {
              color: $color_prussian_blue;
              font-family: $font-stack-2;
              font-size: 13px;
              font-weight: 500;
              line-height: 16px;
            }
          }
        }
        .buttons-wrap {
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: $color_greyish;
          border-top: 1px solid $border_color;
          padding: 20px 24px;
          .button {
            min-width: 124px;
            text-align: center;
          }
        }
      }
    }
  }
  // Add practice popup
  &.personal-practice {
    .practices-count {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 24px;
      .left {
        color: $color_dark_grey;
      }
    }
    .practices-list {
      padding: 0 24px;
      padding-bottom: 24px;
      .practice {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:23px 15px;
        border-radius: 5px;
        background-color: #FFFFFF;
        box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
        margin-top: 10px;
        &:first-child {
          margin-top: 0;
        }
        .label {
          color: $color_prussian_blue;
          font-family: $font-stack-2;
          font-size: 16px;
          font-weight: 500;
          line-height: 19px;
        }
        .controls {
          > * {
            margin-left: 15px;
            min-height: 30px;
            &:first-child {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
  &.share-pdf {
    .share-pdf-form {
      padding:24px;
      padding-top: 10px;
      padding-right: 20px;
      .input {
        margin-top:10px;
        label {
          color: #51646E;
          font-family: Gotham;
          font-size: 12px;
          font-weight: 500;
          line-height: 14px;
          width: 100%;
          display: block;
          text-align: left;
          padding: 10px 0;
        }
        &.with-remove {
          display: flex;
          justify-content: space-between;
          .input-wrap {
            width: 95.375%;
            flex-shrink: 0;
          }
        }
        &.no-top-margin {
          margin-top: 0;
        }
      }
    }
  }

  &.new-practice {
    .new-practices-form {
      padding: 10px 24px;
      padding-bottom: 24px;
      .input-with-label {
        margin-top: 10px;
        &:first-child {
          margin-top: 0;
        }
      }
    }
  }

  &.new-post,
  &.new-practice,
  &.personal-practice,
  &.add-practice {
    overflow: auto;
    .dashpopup-wrap {
      width: 680px;
      .title {
        h2 {
        }
      }
    }
    .search-input {
      margin: 0 24px;
      max-width: 100%;
      margin-top: 24px;
    }
    .tabs-menu {
      padding: 0 24px;
      border-bottom: 1px solid $border_color;
      ul {
        list-style: none;
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch; /* [3] */
        -ms-overflow-style: -ms-autohiding-scrollbar; /* [4] */
        &::-webkit-scrollbar {
          display: none;
        }
        > li {
          margin-left: 30px;
          flex-shrink: 0;
          &:last-child {
            margin-right: 30px;
          }
          &.selected {
            > a {
              color: $color_prussian_blue;
              position: relative;
              &:after {
                content: " ";
                height: 2px;
                position: absolute;
                bottom: -1px;
                left: 0;
                right: 0;
                background-color: $color_prussian_blue;
              }
            }
          }
          &:first-child {
            margin-left: 0;
          }
          > a {
            display: block;
            color: $color_dark_grey;
            font-family: $font-stack-2;
            font-size: 14px;
            font-weight: bold;
            line-height: 17px;
            padding: 20px 0;
            white-space: nowrap;
          }
        }
      }
    }
    .tabs-data {
      padding: 10px 24px;
      margin-right: 5px;
      margin-top: 10px;
      padding-bottom: 20px;
      padding-right: 19px;
      max-height: 296px;
      overflow: auto;
      &::-webkit-scrollbar {
        width: 3px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(#9FA4A7,0.3);
        border-radius: 2px;
      }
      > .tab {
        display: none;
        &.open {
          display: block;
        }
      }
    }
  }
  &.add-practice {
    .tabs-data {
      max-height: 417px;
    }
  }
  &.new-post {
    .dashpopup-wrap {
      width: 840px;
      .form-dashboard {
        .title {
          background-color: #F9F9F9;
          overflow: hidden;
        }
      }
    }
  }
}

.popup-steps {
  padding: 0 24px;
  margin: 20px 0;
  ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    >li {
      margin-left: 30px;
      flex-shrink: 0;
      max-width: 50%;
      &:first-child {
        margin-left: 0;
      }
      &.inactive {
        > span,
        > a {
          .step-number {
            background-color: $color_gray_chateau;
          }
          color: $color_gray_chateau;
        }
      }
      > span,
      > a {
        display: flex;
        align-items: center;
        .step-number {
          padding: 1px 0;
          display: inline-block;
          height: 24px;
          width: 24px;
          line-height: 24px;
          background-color: $color_prussian_blue;
          color: #fff;
          text-align: center;
          border-radius: 100%;
          margin-right: 10px;
          flex-shrink: 0;
        }
        .step-label {
          color: $color_prussian_blue;
          font-family: $font-stack-2;
          font-size: 13px;
          font-weight: 300;
          line-height: 16px;
          text-align: left;
          min-width: 96px;
        }
      }
    }
  }
}
