html,
body
{
  &.modal_open {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
}
body {
  &.modal-mobile-menu-open,
  &.modal-login-open,
  &.modal-signup-open,
  &.modal-change-pw-open,
  &.modal-reset-pw-open {
    position: relative;
    overflow: hidden;
    height: 100vh;
  }

  &.modal-mobile-menu-open {
    .mobile-menu-wrapper {
      opacity: 1;
      visibility: visible;
      /*transform: translateX(0);*/
    }
  }

  &.modal-mobile-submenu-open {
    .mobile-menu-wrapper-submenu {
      opacity: 1;
      visibility: visible;
      /*transform: translateX(0);*/
    }
  }

  &.modal-login-open {
    .login-wrapper {
      opacity: 1;
      visibility: visible;
      /*transform: translateX(0);*/
    }
  }
  &.modal-signup-open {
    .signup-wrapper {
      opacity: 1;
      visibility: visible;
      /*transform: translateX(0);*/
    }
  }
  &.modal-change-pw-open {
    .change-pw-wrapper {
      opacity: 1;
      visibility: visible;
      /*transform: translateX(0);*/
    }
  }
  &.modal-reset-pw-open {
    .reset-pw-wrapper {
      opacity: 1;
      visibility: visible;
      /*transform: translateX(0);*/
    }
  }
}

.mobile-menu-wrapper-submenu,
.mobile-menu-wrapper,
.reset-pw-wrapper,
.change-pw-wrapper,
.signup-wrapper,
.login-wrapper {
  position: fixed;
  top:0;
  left: 0;
  right: -10px;
  height: 100vh;
  -webkit-overflow-scrolling: touch;
  //transform: translateX(10px);
  z-index: $zi_login_modal;
  opacity: 0;
  visibility: hidden;
  transition: all ease-in-out 0.3s;
  overflow-y: auto;
  overflow-x: hidden;

  a.close {
    width: 60px;
    height: 60px;
    max-width: 60px;
    background-color: $color_prussian_blue;
    position: fixed;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    right: auto;
    margin-left: -60px;
    margin-right: auto;
    > span {
      display: block;
      width: 20px;
      height: 20px;
      &:after,
      &:before {
        display: block;
        width: 3px;
        height: 20px;
        background-color: #fff;
        content: " ";
      }
      &:after {
        transform: rotate(45deg) translate(-8px,-20px);
      }
      &:before {
        transform: rotate(-45deg) translate(6px, 6px);
      }
    }
  }
  > .container {
    min-height: 100vh;
    > .pure-g {
        min-height: 100vh;
      > [class*=pure-u] {
        min-height: 100vh;
        > .pure-g {
          min-height: 100vh;
          > [class*=pure-u] {
            min-height: 100vh;
          }
        }
      }
    }
  }
  .main-credentials-container {
    position: relative;
    min-height: 100vh;

    &:after {
      content: " ";
      position: absolute;
      top:0;
      bottom: 0;
      left: calc( 100% - 1px);
      width: 10000px;
      background-color: $color_white;
    }
  }

  .main-credentials-space {
    position: relative;
    background-color: $color_white;
    box-shadow: 0 1px 15px 0 rgba(0,44,91,0.15);
    min-height: 100vh;
    padding: 60px 0;
    &.menu-space {
      padding-right: 15px;
    }
    &.filter-space {
      padding-right: 15px;
      padding-top: 6px;
    }
    &::-webkit-scrollbar {
      width: 5px;
      margin-left: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background: #888;
      height: 10px;
    }
    &::-webkit-scrollbar-track {
      background: #f1f1f1;

    }
    &::-webkit-scrollbar-thumb:hover {
      background: #555;

    }

    .more-link {
    	font-family: $font-stack-2;
    	font-size: 14px;
    	font-weight: 500;
    	line-height: 17px;
      display: block;
      text-align: right;
      margin-bottom: 46px;

      .green {
        color: $color_green;
        &.underline-animation {
          &:before,
          &:after {
            background-color: $color_green;
          }
        }

      }
    }
    .login-area {
      h3 {
        color: $color_prussian_blue;
      	font-family: $font-stack-2;
      	font-size: 20px;
      	font-weight: bold;
      	line-height: 24px;
        margin: 0;
        margin-bottom: 20px;
      }
      label {
        display: block;
        overflow: hidden;
        .label {
          margin: 10px 0;
        }
      }


      .input {
        margin-top: 10px;
        &.larger-top-margin {
          margin-top: 20px;
        }
        &.input-checkbox {
          .checkbox-wrap {
            margin-right: 10px;
          }
          label {
            color: #80939E;
            cursor: pointer;
            font-weight: 300;
            .label {
              margin: 0;
              color: #80939E;
              font-weight: 300;
            }
            .underline {
              text-decoration: underline;
            }
          }
        }
        &.non-input-text {
          color: $color_main_text_darker;
          font-family: $font-stack-2;
          font-size: 12px;
          font-weight: 300;
          line-height: 16px;
          margin-top: 20px;
          margin-bottom: 16px;
        }
      }
      .submit-button{
        margin-top: 20px;
      }
      .forgot-password {
        margin-top: 20px;
        color: $color_prussian_blue;
        font-family: $font-stack-2;
        font-size: 12px;
        font-weight: 500;
        line-height: 14px;
        text-align: center;
      }
    }
    .filter-area {
      .head-wrap {
        .filter-title {
          display: flex;
          align-items: center;
          justify-content: space-between;
          h2 {
            margin: 0;
            color: $color_prussian_blue;
            font-family: $font-stack-2;
            font-size: 20px;
            font-weight: bold;
            line-height: 24px;
          }
        }
      }
      .filters-menus {
        .label {
          margin-top: 10px;
          padding: 10px 0;
          &.justify {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
          .title-place {
            color: $color_main_text_darker;
            font-family: $font-stack-2;
            font-size: 14px;
            font-weight: 500;
            line-height: 17px;
          }
        }
        .search-input {
          margin-top: 20px;
          input[type=text] {
            box-shadow: none;
          }
        }
        .submit-button-place  {
          margin-top: 20px;
        }
        .select-wrap {
          .select-values {
            position: static;
            box-shadow:none;
            .select-entries {
              padding: 0;
              border: 0;
              box-shadow: none;
              .entry {
                padding: 0 12px;
                .label {
                  margin: 0;
                }
                &:first-child {
                  margin-top: 0;
                }
                &:last-child {
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }
    }

    &.change-pw-space,
    &.reset-pw-space {
      .login-area {
        margin-top: 30px;
      }
    }
  }
}



.search-mobile-menu {
  padding: 20px 0;
  .recent-results {
    padding-top: 20px;
    h3.recent-searches {
      color: $color_dark_grey;
      font-family: $font-stack-2;
      font-size: 12px;
      font-weight: 500;
      line-height: 14px;
      margin: 0;
    }
    .search-results {
      padding-top: 20px;
      .entry-line {
        display: flex;
        align-items: center;
        color: $color_dark_grey;
        padding: 10px 0;
        &:first-child {
          padding-top: 0;
        }
        &:last-child {
          padding-bottom: 0;
        }
        .icon {
          margin-right: 10px;
          > img {
            vertical-align: middle;
          }
        }
        .text-data {

        }
      }
    }
  }
}
