/* MENU STYLING START */
.menu {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      &.selected,
      &:hover {
        > a {
          opacity: 1;
          border-left-color: $color_mexican_red;
        }
      }
      a {
        transition: all ease-in-out 0.3s;
        display: block;
        opacity: 0.55;
        color: #FFFFFF;
        font-family: $font-stack-2;
        font-size: 13px;
        font-weight: 500;
        line-height: 16px;
        padding: 20px 15px;
        border-bottom: 1px solid rgba(234,239,242,0.1);
        border-left: 4px solid transparent;
      }
    }
  }
}
/* MENU STYLING END */
