/* MENU STYLING START */
.menu {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      &.selected,
      &:hover {
        > a {
          opacity: 1;
          border-left-color: $color_mexican_red;
        }
      }
      a {
        transition: all ease-in-out 0.3s;
        display: block;
        opacity: 0.55;
        color: #FFFFFF;
        font-family: $font-stack-2;
        font-size: 13px;
        font-weight: 500;
        line-height: 16px;
        padding: 20px 15px;
        border-bottom: 1px solid rgba(234,239,242,0.1);
        border-left: 4px solid transparent;
      }
    }
  }
}

.profile-menu,
.mobile-menu-wrap {
  padding: 10px 0;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      &.selected {
        > a {
          opacity: 1;
          font-weight: bold;
        }
      }
      a {
        display: block;
        opacity: 0.55;
        color: $color_prussian_blue;
        font-family: $font-stack-2;
        font-size: 15px;
        font-weight: 500;
        line-height: 18px;
        padding: 15px 0;
        &.unerlined {
          text-decoration: underline;
        }
      }
      &.has-submenu {
        > a {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
  }
}
.profile-menu {
  padding-bottom: 0;
  ul {
    li {
      &:last-child {
        > a {
          padding-bottom: 5px;
        }
      }
    }
  }
}

.more-menu {
  position: absolute;
  top:14px;
  right: 0;
  border: 1px solid $color_grey_back;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    padding: 6px 0;
    > li {
      /*
      &:nth-child(2n) {
        > a {
          background-color: $color_greyish;
        }
      }
      */
      &:hover {
        > a {
          background-color: $color_greyish;
        }
      }
      > a {
        transition: all ease-in-out 0.3s;
        padding: 14px 15px;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
/* MENU STYLING END */
