html {
  height: 100%;
}


body {
  min-height: 100%;
  height: 100%;
  color: $primary-color;
  font-weight: normal;
  font-family: $font-stack;
  font-size: 12px;
  line-height: 1.5;
  background-color: $background-color;
  &.stickyHeader {
    .page-content {
      padding-top: 70px;
    }
  }
  &.white {
    background-color: $color_white;
  }
  &.faded {
    .page-wrapper {
      &:before {
        visibility: visible;
        opacity: 1;
      }
    }

  }
}

.no-activities {
  background-color: #F9F9F9;
  color: #51646E;
  font-size: 13px;
  font-weight: 300;
  line-height: 18px;
  text-align: center;
  padding: 20px;
  margin: 10px 0;
  font-family: $font-stack-2;
}
.prof-picture,
div.section.notifications .line .picture,
div.section .notifications-list .line .picture {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  flex-shrink: 0;
  margin-right: 15px;
  background-color: #7C3290;
  position: relative;
  .text {
    @include full_size;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'SF UI Display Light';
    font-size: 22px;
    font-weight: 300;
    line-height: 24px;
    color: #fff;
  }
  > img {
    width: 100%;
    height: auto;
    vertical-align: top;
  }
}

.button-line-editables {
  margin-top: 30px;
  white-space: nowrap;
  &.no-margin-top {
    margin-top: 0;
  }
  > * {
    margin-left: 18px;
    &:first-child {
      margin-left: 0;
    }
  }
}

.popular-content {
  border: 1px solid #E0E1E1;
  overflow: hidden;
  min-height: 212px;
  border-radius: 5px;
  .line {
    border-bottom:1px solid #E0E1E1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    .label {
      display: flex;
      align-items: center;
      .icon {
        flex-shrink: 0;
        margin-right:10px;
      }
      .text {
        color: $color_main_text_darker;
        font-family: $font-stack-2;
        font-size: 15px;
        font-weight: 500;
        line-height: 18px;
      }
    }
  }
}

.content-material {
  border: 1px solid #E0E1E1;
  padding: 10px 20px;
  border-radius: 5px;
  .title {
    color: $color_dark_grey;
    font-family: $font-stack-2;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    padding: 10px 0;
    text-transform: uppercase;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 10px;
    li {
      padding: 10px 0;
      a {
        color: $color_prussian_blue;
        font-family: $font-stack-2;
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
      }
    }
  }
}

.calender {
  border: 1px solid #E0E1E1;
  overflow: hidden;
  min-height: 212px;
  border-radius: 5px;
  .line {
    border-bottom:1px solid #E0E1E1;
  }
  .element {
    color: $color_main_text_darker;
    font-family: $font-stack-2;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    text-align: center;
  }
  .title {
    color: $color_main_text_darker;
    font-family: $font-stack-2;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    text-align: center;
  }
  .pure-g {
    margin: 0;
    [class*=pure-u] {
      border-left: 1px solid #E0E1E1;
      padding: 5px;
      &:first-child {
        border-left: 0;
      }
    }
  }
}

.vtop {
  vertical-align: top;
}

a {
  font-size: 14px;
}

p {
  font-family: $font-stack-2;
  margin: 10px 0;
  &.light {
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
  }
  &.book {
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
  }
  &.medium {
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
  }
  &.bold {
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
  }
  &.black {
    font-size: 14px;
    font-weight: 900;
    line-height: 17px;
  }
}
.pure-g {
  [class*=pure-u] {
    font-family: $font-stack;
  }
}

.spacer {
  height: $header-height;
}
.header {
  height: $header-height;
  position: relative;
  z-index: $zi_header;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  &.mobile-only {
    display: none;
  }
  &.on-top {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
  }
  &.sticky {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
  }
  h1.logo,
  a.logo {
    display: block;
    width: 106px;
    height: 140px;
    background: url('#{$path}static/images/logo.svg') 0 0 no-repeat;
    background-position: center;
    background-size: 75%;
    font-size: 0;
    padding: 13px;
    color: transparent;
    cursor: pointer;

    &.blue {
      background-color: $color_big_stone;
    }
  }
  .line-2 {
      > .container {
        .line-wrap {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
  }

  > .container {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.page-wrapper {
  height: auto !important;
  min-height: 100%;
  height: 100%;
  position: relative;
  &:before {
    content: " ";
    @include full_size;
    background-color: rgba(0,0,0,0.4);
    z-index: $zi_fade;
    visibility: hidden;
    opacity: 0;
    transition: all ease-in-out 0.3s;
    display: none;
  }
  &.dashboard {
    display: flex;
    /*
    .side-menu-wrapper {
      position: fixed;
      top:0;
      width: $side-menu-width;
    }*/
    .page-side-menu {
      position: fixed;
      top:0;
      background-color: $color_prussian_blue;
      box-shadow: 0 2px 6px 0 rgba(0,0,0,0.1);
      width: $side-menu-width;
      flex-shrink: 0;
      z-index: $zi_side_menu;
      min-height: 100vh;
      backface-visibility: hidden;
      perspective: 1000;
      .logo {
        display: block;
        width: 106px;
        height: 140px;
        margin: 12px auto;
        background-image: url('#{$path}static/images/logo.svg');
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    .page-content {
      width: 100%;
      overflow: hidden;
      padding-bottom: $footer-height;
      padding-left: $side-menu-width;
    }
  }
}

.footer_guarantor {
  height: $footer-height;
  clear: both;
}

.footer {
  margin: 0 auto;
  margin-top: -$footer-height;
  height: $footer-height;
  clear: both;
  position: relative;
  z-index: $zi_footer;
  background:$color_white;
  font-family: $font-stack-2;
  font-size: 11px;
  font-weight: 300;
  line-height: 13px;
  &.grey {
    background-color: $color_alabaster;
  }
  > .container {
    height: 100%;

    .footer-wrap {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      border-top: 1px solid #EEF0F1;
    }
    .pure-g {
      height: 100%;
      [class*=pure-u] {
        height: 100%;
        display: flex;
        align-items: center;
        &.tar {
          justify-content: flex-end;
          a.linker {
            margin-left: 3px;
          }
        }
      }
    }
  }
}


a {
  text-decoration: none;
  outline: none;
  color: $link-color;
  &:hover {
    text-decoration: none;
  }
}

img {
  border: 0;
}

p {
  margin: 1.5em 0;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

strong {
  font-weight: 700;
}
.galerija {
  overflow: hidden;
  .pure-g {
    margin: -15px;
    [class*=pure-u] {
      padding: 15px;
    }
  }
  a {
    display: block;
    img {
      width: 100%;
      height: auto;
      vertical-align: top;
    }
  }
}

.overlay-gradient {
  position: relative;
  &:before {
    content: " ";
    @include full_size;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, #002C5B 100%);
  }
}

.underline-animation {
  text-decoration: none;
  position: relative;
  &.underline-thicker {
    &:before,
    &:after {
      bottom: 6px;
      height: 2px;
    }
  }
  &.underline-opacity {
    &:before,
    &:after {
      opacity: 0.4;
    }
  }
  &.underline-white {
    &:before,
    &:after {
      background-color: $color_white;
    }
  }
  &:before,
  &:after {
    content: " ";
    position: absolute;
    bottom: 0;
    height: 1px;
    background-color: $color_prussian_blue;
    transition: all ease-in-out 0.3s;
  }
  &:before {
    left: 0;
    width: 0%;
    transition-delay: 0.05s;
  }
  &:after {
    right: 0;
    width: 100%;
  }
  &:hover {
    &:before {
      width:100%;
    }
    &:after {
      width: 0;
    }
  }
}

.mobile-only-display {
  display: none;
}
.swiper-button-next,
.swiper-button-prev {
  outline: none;
}

.gallery {
  margin: 20px 0;
  display: flex;
  justify-content: flex-start;
  > * {
    margin-left: 15px;
    &:first-child {
      margin-left: 0;
    }
    &.column-b {
      width: 171px;
    }
    &.column-a {
      width: 361px;
    }
  }
  .photo {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    .more {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0,0,0,0.6);

      font-size: 34px;
      font-weight: 500;
      line-height: 41px;
      color: #fff;
      @include full_size;
      font-family: $font-stack-2;
    }
    > img {
      width: 100%;
      height: auto;
      vertical-align: top;
    }
  }
  .columns {
    .photo {
      margin-top: 15px;
      &:first-child {
        margin-top: 0;
      }
    }
  }
}

.attachments {
  margin-top: 20px;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      margin-top: 10px;
      &:first-child {
        margin-top: 0;
      }
      a {
        display: flex;
        align-items: center;
        color: $color_prussian_blue;
        font-family: $font-stack-2;
        font-size: 13px;
        font-weight: 500;
        line-height: 16px;
        &:before {
          content: " ";
          display: inline-block;
          width: 13px;
          height: 15px;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          background-image: url('#{$path}static/images/ico-file.svg');
          margin-right: 8px;
        }
      }
    }
  }
}

.video-attachments {
  margin: 20px 0;
  .video-line {
    margin-top:10px;
    &:first-child {
      margin-top: 0;
    }
  }
  .entry {
    position: relative;
    display: inline-flex;
    padding: 10px;
    border: 1px solid $color_iron;
    background-color: $color_greyish;
    max-width: 361px;
    border-radius: 5px;
    text-align: left;
    padding-right: 24px;
    .close {
      position: absolute;
      top:11px;
      right: 11px;
      width: 12px;
      height: 12px;
      display: block;
      background-image: url('#{$path}static/images/ico-close.svg');
      background-position: center;
      background-repeat: no-repeat;
    }
    .video-image {
      display: block;
      width: 183px;
      flex-shrink: 0;
      margin-right: 10px;
      border-radius: 5px;
      overflow: hidden;
      > img {
        width: 100%;
        height: auto;
        vertical-align: top;
      }
    }
    .video-title {
      color: $color_prussian_blue;
      font-family: $font-stack-2;
      font-size: 13px;
      font-weight: 500;
      line-height: 16px;
    }
  }
}
