@import 'compass';
@import '../node_modules/font-awesome-sass/assets/stylesheets/_font-awesome.scss';

@import 'fonts';
@import 'settings';

@import 'extensions/outdated';
//@import 'extensions/debug';
@import 'extensions/maths';
@import 'extensions/pure-ext';
@import 'extensions/mixins';
@import 'extensions/extra';
@import 'extensions/animate';



/* MODULES START */
//@import 'modules/normalize';
@import 'modules/outdatedbrowser';
@import 'modules/purecss/forms';
@import 'modules/purecss/pure';
@import 'modules/purecss/grids';
@import 'modules/purecss/grids-responsive';
@import 'modules/lightbox';
@import 'modules/swiper';
@import 'modules/select2/core';
/* MODULES END */
@import 'extensions/inputs';
@import 'extensions/buttons';

html {
  height: 100%;
}


body {
  min-height: 100%;
  height: 100%;
  color: $primary-color;
  font-weight: normal;
  font-family: $font-stack;
  font-size: 12px;
  line-height: 1.5;
  background-color: $background-color;
  &.white {
    background-color: $color_white;
  }
}
.pure-g {
  [class*=pure-u] {
    font-family: $font-stack;
  }
}

.spacer {
  height: $header-height;
}
.header {
  height: $header-height;
  position: relative;
  z-index: $zi_header;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  &.mobile-only {
    display: none;
  }
  &.on-top {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
  }
  &.sticky {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
  }
  h1.logo,
  a.logo {
    display: block;
    width: 106px;
    height: 140px;
    background: url('../images/logo.svg') 0 0 no-repeat;
    background-position: center;
    background-size: 75%;
    font-size: 0;
    padding: 13px;
    color: transparent;
    cursor: pointer;

    &.blue {
      background-color: $color_big_stone;
    }
  }
  .line-2 {
      > .container {
        .line-wrap {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
  }

  > .container {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.page-wrapper {
  height: auto !important;
  min-height: 100%;
  height: 100%;
  position: relative;
  &.dashboard {
    display: flex;
    .page-side-menu {
      background-color: $color_prussian_blue;
      box-shadow: 0 2px 6px 0 rgba(0,0,0,0.1);
      width: 130px;
      flex-shrink: 0;
      .logo {
        display: block;
        width: 106px;
        height: 140px;
        margin: 12px auto;
        background-image: url('../images/logo.svg');
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    .page-content {
      width: 100%;
    }
  }
}

.footer_guarantor {
  height: $footer-height;
  clear: both;
}

.footer {
  margin: 0 auto;
  margin-top: -$footer-height;
  height: $footer-height;
  clear: both;
  position: relative;
  z-index: $zi_footer;
  background:$color_white;
  font-family: $font-stack-2;
  font-size: 11px;
  font-weight: 300;
  line-height: 13px;
  &.grey {
    background-color: $color_alabaster;
  }
  > .container {
    height: 100%;

    .footer-wrap {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      border-top: 1px solid #EEF0F1;
    }
    .pure-g {
      height: 100%;
      [class*=pure-u] {
        height: 100%;
        display: flex;
        align-items: center;
        &.tar {
          justify-content: flex-end;
          a.linker {
            margin-left: 3px;
          }
        }
      }
    }
  }
}


a {
  text-decoration: none;
  outline: none;
  color: $link-color;
  &:hover {
    text-decoration: none;
  }
}

img {
  border: 0;
}

p {
  margin: 1.5em 0;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

strong {
  font-weight: 700;
}
.galerija {
  overflow: hidden;
  .pure-g {
    margin: -15px;
    [class*=pure-u] {
      padding: 15px;
    }
  }
  a {
    display: block;
    img {
      width: 100%;
      height: auto;
      vertical-align: top;
    }
  }
}

.overlay-gradient {
  position: relative;
  &:before {
    content: " ";
    @include full_size;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, #002C5B 100%);
  }
}

.underline-animation {
  text-decoration: none;
  position: relative;
  &.underline-thicker {
    &:before,
    &:after {
      bottom: 6px;
      height: 2px;
    }
  }
  &.underline-opacity {
    &:before,
    &:after {
      opacity: 0.4;
    }
  }
  &.underline-white {
    &:before,
    &:after {
      background-color: $color_white;
    }
  }
  &:before,
  &:after {
    content: " ";
    position: absolute;
    bottom: 0;
    height: 1px;
    background-color: $color_prussian_blue;
    transition: all ease-in-out 0.3s;
  }
  &:before {
    left: 0;
    width: 0%;
    transition-delay: 0.05s;
  }
  &:after {
    right: 0;
    width: 100%;
  }
  &:hover {
    &:before {
      width:100%;
    }
    &:after {
      width: 0;
    }
  }
}

.mobile-only-display {
  display: none;
}
.swiper-button-next,
.swiper-button-prev {
  outline: none;
}

/* DEFAULT STYLING END */
//@import 'slider';
@import 'dashpopup';
@import 'login';
@import 'sections';
@import 'menus';
@import 'mobile_menus';

@import 'mobile/1_max_586';
@import 'mobile/2_max_767';
@import 'mobile/3_md_768-1023';
@import 'mobile/4_lg_1024-1079';
@import 'mobile/5_1280_more';

/* PORTRAIT ORIENTATION*/
@media all and (orientation: portrait) {}
/* LANDSCAPE ORIENTATION*/
@media all and (orientation: landscape) {}
