
@media (max-width: 767px) {

}

@media (max-width: 991px) {
  .hide_if_mobile {
    display: none;
  }
  html,
  body
  {
    &.modal_open {
      position: relative;
      height: 100%;
      width: 100%;
      overflow: hidden;
    }
  }
  .page-content {
    overflow: hidden;
  }
  .spacer {
    height: 70px;
  }
  .header {
    height: 70px;
    display: flex;
    justify-content: center;
    &.mobile-blue {
      background-color: $color_big_stone;
      .buttons {
        display: flex;
        .button {
          &:nth-child(1) {
            order: 2;
            background-color: $color_green;
            border-radius: 5px;
            overflow: hidden;
          }
          &:nth-child(2) {
            order: 1;
            background-color: transparent;
          }
        }
        &.v2 {
          align-items: center;
          svg {
            vertical-align: middle;
          }
          > * {
            padding: 0 10px;
            &:first-child {
              padding-left: 0;
            }
            &:last-child {
              padding-right: 0;
            }
          }
        }
      }
    }
    h1.logo,
    a.logo {
      width: 127px;
      height: 30px;
      background-size: contain;
      background-image: url('#{$path}static/images/logo-t2.svg');
    }
    .buttons {
      .button {
        padding: 9px 20px;
        &.tc-dark {
          color: #fff;
        }
      }
    }
  }
  body {
    font-size: 16px;
  }
  .mobile_strip {
    display: flex;
  }


  .footer_guarantor {
    display: none;
  }
  .footer {
    height: auto;
    margin: 0;
    text-align: center;
    >.container {
      .footer-wrap {
        padding: 20px 0;
        justify-content: center;
      }
    }

  }
  div.section {
    &.hide_if_mobile {
      display: none;
    }
    h2 {
      color: $color_prussian_blue;
      font-family: $font-stack;
      font-size: 30px;
      font-weight: 900;
      line-height: 32px;
      text-align: center;
      &.v3 {
        display: block;
        text-align: left;
        padding: 0 15px;
        .left-titles {
          display: block;
        }
        .time-title {
          display: inline;
          vertical-align: middle;
          margin-right: 5px;
        }
        .subtitle {
          display: inline;
          vertical-align: middle;
          margin-bottom: 20px;
          line-height: 19px;
          &.block {
            display: block;
          }

        }
        .buttons {
          display: block;
          margin-top: 20px;
        }
      }
    }
    &.notifications {
      .line {
        padding: 10px 15px;
      }
    }
    &.coaches-list {
      .inner-container {
        padding: 15px;
      }
      .pure-g {
        margin: -7px;
        [class*=pure-u] {
          padding: 7px;
        }
      }
    }
    &.simple {
      table {
        display: inline-block;
        max-width: 100%;
        overflow: auto;
        border-collapse: collapse;
      }
    }
    &.front-page-picture {
      padding-top: 70px;
      padding-bottom: 45px;
      min-height: 100vh;
      .mobile-picture {
        display: block;
        @include full_size;
        background-size: cover;
        background-position: center;
        background-position-y: 70px;
        background-position-x: 0;
        background-repeat: none;
        background-size: cover;
      }
      .element {
        align-items: flex-end;
        .button{
          &.larger {
            padding: 13px 37px;
          }
        }
      }
      > .container {
        height: calc( 100vh - 115px );
        > .pure-g {
          height: calc( 100vh - 115px );
          > [class*=pure-u] {
            height: calc( 100vh - 115px );
          }
        }
      }
      h2 {
        color: #FFFFFF;
        font-family: $font-stack;
        font-size: 42px;
        font-weight: 800;
        line-height: 44px;
        margin: 25px 0;
        text-align: left;
      }
      .element {
        margin: 0;
      }
    }
    &.simple-text {
      color: $color_prussian_blue;
    	font-family: $font-stack-2;
    	font-size: 15px;
    	font-weight: 300;
    	line-height: 22px;
    	text-align: center;
      padding: 40px 0;
      &.privacy-policy {
        padding: 30px 0;
        h2 {
          text-align: left;
          max-width: 100%;
          margin: 20px 0;
        }
      }
      h2 {
        max-width: 80vw;
        margin: 0 auto;
        &:first-child {
          margin-top: 0;

        }
      }
    }
    &.picture-text {
      padding: 40px 0;
      color: $color_prussian_blue;
      font-family: $font-stack-2;
      font-size: 15px;
      font-weight: 300;
      line-height: 22px;
      h2 {
        text-align: left;
      }
      .text {
        .vertical-text {
          max-width: initial;
        }
        .more {
          display: none;
        }
        .badges {
          margin-top: 25px;
        }
      }

      .pure-g {
        margin: -5px -12px;
        [class*=pure-u] {
          padding: 5px 12px;
        }
      }
      &.reversed {
        .pure-g {
          [class*=pure-u]{
            &:nth-child(1) {
              order: 1;
            }
            &:nth-child(2) {
              order: 2;
            }
          }
        }
      }
      &.bottom-padding-smaller {
        padding-bottom: 40px;
      }
    }
    &.carousel {
      padding: 40px 0;
      > .container {
        > h2 {
          margin-top: 0;
          color: $color_prussian_blue;
          font-family: $font-stack;
          font-size: 30px;
          font-weight: 900;
          line-height: 32px;
          text-align: center;
        }
      }
      .carousel-wrap {
        padding: 0;
        margin-top: 0px;
        &:after,
        &:before {
          display: none;
        }
        .continuous-carousel {
          .swiper-wrapper {
            .swiper-slide {
              width: 255px;
              padding: 45px 0;
              &:nth-child(2n+1) {
                .element {
                  margin-top: 0;
                }
              }
            }
          }
        }
      }
    }
    &.picture-title {
      padding: 40px 0;
      min-height: auto;
      h2 {
        color: #FFFFFF;
      	font-family: $font-stack;
      	font-size: 30px;
      	font-weight: 900;
      	line-height: 32px;
      	text-align: center;
      }
      .button {
        display: block;
        text-align: center;
      }
    }
    &.partners {
      padding: 30px 0;
      .logos {
        padding: 30px 0;
        display: block;
        border-top: 1px solid #E9E9E9;
        &.icons {
          display: flex;
          align-items: center;
          .label {
            margin: 0;
          }
          .logos-flex {
            > * {
              padding: 0 10px;
            }
          }
          .logos-flex {
            padding-left: 30px;
          }
        }
        .logos-flex {
          padding-left: 0;
          > * {
            padding: 0 7px;
            &:first-child {
              padding-left: 0;
            }
            &:last-child {
              padding-right: 0;
            }
          }
        }
        .label {
          padding-right: 0;

          color: $color_comet;
          font-family: $font-stack-2;
          font-size: 14px;
          font-weight: 300;
          line-height: 17px;
          margin-bottom: 15px;
        }
        &:first-child {
          padding-top: 0;
          border-top: 0;
        }
        &:last-child {
          padding-bottom: 0;
        }
      }
      .logos-wrap {
        display: block;
        text-align: center;
        padding: 0;

      }
    }
    &.search-news {
      .search-toolbar {
        display: block;
        margin: -10px;
        > * {
          padding: 10px;
        }
        .view-posts-wrap {
          &.mobile-only-display {
            display: flex;
            justify-content: flex-end;
            .button {
              min-width: 165px;
              box-shadow: none;
              text-align: center;
            }
          }
        }
        .search-input-wrap {
          display: block;
          .search-input {
            input[type=submit] {
              background-size: 18px;
            }
            &.no-right-radius {
              input[type=text] {
                height: 40px;
                border-radius: 5px;
              }
            }
          }
        }
        .buttons-wrap {
          width: 100%;
          .button {
            width: 100%;
            padding: 12px 30px;
            font-size: 14px;
            line-height: 16px;
            font-weight: 500;
            &:before {
              width: 14px;
              height: 14px;
              background-size: contain;
            }
          }
        }
      }
    }
    &.breadcrumbs {
      &.white-text {
        .breadcrumbs-wrap {
          ul {
            li {
              span,
              a {
                color: #000;
                text-decoration: underline;
              }
            }
          }
        }
        .title {
          h2 {
            color: #000;
          }
        }
      }
      &.offset-on-top-of-picture {
        margin-top: 0;
      }
      .breadcrumbs-wrap {
        overflow: auto;
        ul {
          li {
            .current,
            a {
              white-space: nowrap;
            }
          }
        }
      }
      .title {
        h2 {
          text-align: left;
          &.justify {
            display: block;
            .label {
              display: block;
            }
            .buttons {
              margin-top: 20px;
              .button.dark-grey-v2.smaller.button-with-icon.icon-left.c-icon-share {

                text-align: center;
                justify-content: center;
              }
            }
          }
        }
      }
    }
    &.video-desc {
      padding-bottom: 20px;
      h2 {
        color: $color_prussian_blue;
        font-family: $font-stack-2;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        text-align: left;
        align-items: flex-start;
        margin-top: 15px;
        margin-bottom: 15px;
      }
      .desc-column {
        border-radius: 0;
        padding: 0 15px;
      }
      .tabs {
        .tabs-content {
          .tab-content {
            padding-top: 20px;
            padding-bottom: 20px;
            p {
              &:first-child {
                margin-top: 0;
              }
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
        .tabs-menu {
          overflow: auto;
          overflow-y: hidden;
          ul {
            li {
              a {
                white-space: nowrap;
              }
            }
          }
        }
      }
    }
    &.video-player {
      padding-top: 0;
      padding-bottom: 5px;
      .text-area {
        background-color: #fff;
        padding-top: 10px;
        .title-wrap {
          padding: 0 15px;
          border-bottom: 1px solid #EEF0F1;
          h3 {
            color: $color_prussian_blue;
          }
        }
        .videos-list {
          margin: 15px 0;
          margin-left: 0;
          margin-right: 5px;
          max-height: 463px;
          padding: 0 15px;
          .entry {
            .video-image {
              width: 150px;
              margin-right: 15px;
            }
            .video-title {
              color: $color_prussian_blue;
              font-family: $font-stack-2;
              font-size: 13px;
              font-weight: 500;
              line-height: 16px;
            }
          }
        }
      }
      .picture {
        margin: 0 -15px;
      }
    }
    &.video-playlist {
      .video-container {
        margin: 0 -15px;
        padding: 15px 15px;
        .swiper-slide {
          width: 256px;
        }
      }
    }
    &.video-desc {
      .tags-hash {}
      .dashboard-container {
        padding: 0;
      }
      .options {
        ul {
          justify-content: space-between;
          li {
            a {
              flex-flow: column;
              color: $color_dark_grey;
              font-family: $font-stack-2;
              font-size: 10px;
              font-weight: 500;
              line-height: 12px;
              text-align: center;
              .ico {
                margin-bottom: 10px;
                > img {
                  max-height: initial;
                  height: 20px;
                  width: auto;
                }
              }
              .title[data-mobile-title] {
                &:after {
                  content: attr(data-mobile-title);
                }
              }
              &.button {
                background-color: transparent;
                padding: 0;
              }
            }
          }
        }
      }
    }
    &.comments {
      .desc-column {
        padding: 10px 0;
        padding-bottom: 15px;
        h2 {
          text-align: left;
          padding: 0 15px;
        }
        .comments-wrap {
          padding: 20px 15px;
          padding-bottom: 0;
          .comments-list {
            padding-bottom: 0;

            .comment {
              .comment-content {
                .text {
                  margin-top: 10px;
                }
              }
            }
          }
          .comment-input {
            .input {
              display: flex;
              input[type=text] {
                margin-right: 10px;
                height: 34px;
              }
              input[type=submit] {
                position: static;
                padding: 10px 25px;
              }
            }
            .picture {
              display: none;
            }
          }
        }
      }
    }
    &.news-feed-list {
      margin: 0 -15px;
      .inner-container {
        border-radius: 0;
      }
      .comment-input {
        .input {
          display: flex;
          align-items: center;
          input[type=submit] {
            position: static;
            margin-left: 10px;
            font-size: 12px !important;
            font-weight: 500;
            line-height: 14px;
            padding: 10px;
          }
        }
        &.comment-input-inner {
          .input {
            input[type=submit] {
              min-width: 71px;
            }
          }
        }
      }
      .news-controls {
        padding: 0;
      }
      .comment-input {
        padding: 0 15px;
      }
      .news-container {
        padding: 0 15px;
        &.comments-list {
          padding: 0 15px;
          &.inner-list {
            padding-left: 0;
          }
        }
        .line {
          padding: 15px 0;
          overflow: auto;
          .profile-pic {
            margin-right: 10px;
            flex-shrink: 0;
          }
          .main-text-container {
            .text-wrap{
              &.editable {
                margin-right: 0;
              }
            }
            .edit-actions {
              padding: 0;
            }
            .profile {
              .more-button {
                top:-5px;
                right: 0;
              }
            }
            .video-attachments,
            .attachments,
            .gallery,
            .social-attributes,
            .text-wrap {
              margin-left: -50px;
            }
            .video-attachments {
              .entry {
                width: 100%;
                max-width: 100%;
                .video-image {
                  width: 155px;
                }
              }
            }
            .gallery {
              .columns {
                height: 100%;

                .photo {
                  height: calc( 50% - 7px );
                  &:first-child {
                    height: calc( 50% - 8px );
                  }
                  > img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                  }
                }
              }
              >.column-a{
                width: 65.6vw;
                flex-shrink: 0;
              }
              >.column-b {
                width: 100%;
              }
              > .column-c {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  .mobile-menu-wrapper-submenu,
  .mobile-menu-wrapper,
  .reset-pw-wrapper,
  .change-pw-wrapper,
  .signup-wrapper,
  .login-wrapper {
    .main-credentials-space {
      padding-left: 15px;
      padding-right: 10px;
      padding-top: 10px;
      &.filter-space {
        padding-right: 10px;
      }
      &.reset-pw-space,
      &.change-pw-space {
        .login-area {
          margin-top: 0;
          .head-wrap {
            padding-bottom: 0;
          }
        }
      }

      .buttons {
        display: none;
      }
      .more-link {
        margin: 0;
        text-align: left;
      }
      .head-wrap {
        display: flex;
        flex-flow: column;
        border-bottom: 1px solid #EEF0F1;
        position: relative;
        padding-bottom: 20px;
        &.no-bottom-padding {
          padding-bottom: 0;
        }
        &:after {
          content: " ";
          position: absolute;
          left: 100%;
          bottom: 0;
          height: 1px;
          background-color: red;
        }
        .more-link {
          order: 2;
        }
        h3 {
          order: 1;
          margin:20px 0;
        }

        &.profile-wrap {
          display: flex;
          padding-top: 10px;
          padding-bottom: 20px;
          .profile-menu-wrap{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            ~ .profile-menu {
              visibility: hidden;
              opacity: 0;
              max-height: 0px;
              overflow: hidden;
              padding-top: 0;
            }
            &.open {
              ~ .profile-menu {
                visibility: visible;
                opacity: 1;
                max-height: 1000px;
                padding-top: 10px;
              }
            }
          }
          .left {
            display: flex;
            align-items: center;
            > .picture {
              width: 50px;
              height: 50px;
              border-radius: 100%;
              overflow: hidden;
              margin-right: 10px;
              > img {
                width: 100%;
                height: auto;
                vertical-align: top;
              }
            }
            > .profile {
              .name {
                color: $color_prussian_blue;
                font-family: $font-stack-2;
                font-size: 15px;
                font-weight: bold;
                line-height: 18px;
              }
              .attributes {
                margin-top: 5px;
                .titlename {
                  color: $color_gray_chateau;
                  font-family: $font-stack-2;
                  font-size: 12px;
                  font-weight: 500;
                  line-height: 14px;
                }
              }
            }
          }
          .right {
            margin-left: 15px;
          }
        }
      }
      .login-area {

        .input {
          &.input-checkbox {
            label {
              font-family: $font-stack-2;
              font-size: 12px;
              font-weight: 300;
              line-height: 16px;
            }
            .checkbox-wrap {
              flex-shrink: 0;
            }
          }
        }
      }
    }
  }

  .mobile-menu-wrapper-submenu a.close,
  .mobile-menu-wrapper a.close,
  .change-pw-wrapper a.close,
  .login-wrapper a.close,
  .reset-pw-wrapper a.close,
  .signup-wrapper a.close {
      &:after {
        position: absolute;
        top:0;
        bottom: 0;
        left: 100%;
        content: " ";
        width: 100px;
        background-color: $color_prussian_blue;
      }
  }
  .mobile-menu-wrapper-submenu a.close {

  }
  /*Dashboard light START*/
  .header {
    &.mobile-only {
      display: flex;
    }
  }
  .page-wrapper{
    &.dashboard {
      display: block;
      width: 100%;
      .page-side-menu {
        display: none;
      }
    }
  }
  div.section {
    &.search-bar {
      input[type='text'] {
        height: 40px;
        line-height:40px;
      }
    }
    &.top-picture {
      height: 160px;
      h1 {
        font-size: 36px;
        font-weight: 900;
        line-height: 44px;
      }
    }
    &.location {
      padding: 20px 0;
    }
    &.material {
      padding: 10px 0;
      &.material-association {
        .material-container {
          .pure-g {
            width: 1570px;
          }
        }
      }
      .material-container {
        padding: 0;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        border-top: 0;
        margin: -7px -7px;
        padding: 0 7px;
        .element {
          padding: 15px;
          background-color: #fff;
          box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
          .picture {

          }
        }
        .pure-g {
          margin: 0;
          width: 1245px;
          [class*=pure-u] {
            padding: 7px;
          }
        }
      }
      &.dash-board-container {
        .inner-container {
          background-color: transparent;
          box-shadow: none;
          padding-top: 0;
          margin: 0 -15px;
          padding: 10px 8px;
          margin-bottom: -10px;
          h2.v2 {
            text-align: left;
            padding: 0;
            margin-top: 0;
            padding: 0 7px;
          }
        }
      }

    }
    &.news-feed  {
      padding: 10px 0;
      .pure-g {
        margin: -10px -12px;
        [class*=pure-u] {
          padding: 10px 12px;
        }
      }
      h2.v2 {
        text-align: left;
      }
      .view-all {
        padding: 10px 15px;
        a.button {
          display: block;
          text-align: center;
        }
      }
      .inner-container {
        padding: 0;
      }
      .news-container {
        padding: 0 15px;
        .scrollbar {
          max-height: 406px;
        }
        .line {
          .main-text-container {
            .text-wrap {
              position: relative;
              border-radius: 5px;
              background-color: $color_light_grey;
              padding: 10px;
              margin-top: 20px;
              margin-bottom: 20px;

              h3 {
                margin-top: 0;
                font-size: 14px;
                font-weight: 500;
                line-height: 16px;
              }
              &:before {
                content: " ";
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 7px 7px 7px;
                border-color: transparent transparent $color_light_grey transparent;
                position: absolute;
                bottom: 100%;
                left: 14px;
              }
            }
            .text {
              font-size: 12px;
              font-weight: 300;
              line-height: 16px;
            }
          }

        }
      }
      .right-picture {
        min-height: 380px;
        h3 {

        }
        .text {

        }
        .more {
          padding: 20px 15px;
        }
      }
    }
    &.image-lai {
      padding: 10px 0;
      padding-bottom: 18px;
      .picture {
        padding: 25px;
        .text {
          font-size: 24px;
          font-weight: 900;
          line-height: 24px;
          text-align: center;
        }
      }
    }
    &.video {
      padding: 0;
      .picture {
        margin: 0 -15px;
        .play-button {
          width: 68px;
          height: 68px;
          position: absolute;
          left: calc(50% - 34px);
          top: calc(50% - 34px);
        }
      }
      .text-area {
        margin-top:  20px;

        .more-wrap {
          padding: 10px 15px;
        }
        .tags-wrap{
          padding: 20px 15px;
          >ul{
            >li{
              margin-top: 20px;
              &:first-child {
                margin-top: 0;
              }
              >.tags-group {
                margin-top: 0;
              }
            }
          }
        }
        .title-wrap {
          padding: 20px 15px;
          h3 {
            margin-bottom: 0;
          }
        }
      }
    }
    &.video-line {
      padding: 10px 0;
      padding-bottom: 60px;
      h2.v2 {
        font-size: 20px;
        font-weight: bold;
        line-height: 24px;
        text-align: left;
        margin: 20px 0;
      }
      .video-container {
        overflow: auto;
        margin: 0 -15px;
        padding: 0 15px;
        > .pure-g {
          margin-top: 0;
          margin-bottom: 0;
          width: 1245px;
          [class*=pure-u] {
            padding-top: 0;
            padding-bottom: 0;
          }
        }
      }
    }
    &.no-top-padding {
      padding-top: 0;
    }
    &.no-bottom-padding {
      padding-bottom: 0;
    }
    &.filter-tabs {
      .dashboard-container {
        padding: 0;
        .tabs-wrap {
          border-radius: 0;
          &.no-nav {
            box-shadow: none;
            .tabs-content {
              background-color: transparent;
              padding: 0 15px;
            }
          }
          .tabs-nav {
            border-radius: 0;
            overflow: auto;
            ul {
              li{
                &:last-child {
                  padding-right: 30px;
                }
                a {
                  white-space: nowrap;
                }
              }
            }
          }
          .tabs-content {
            border-radius: 0;
            padding: 20px 15px;

            .pure-g {
              margin: -7px;
              [class*=pure-u] {
                padding: 7px;
              }
            }
          }
        }
      }
    }
    &.practice-list {
      .practice-list-wrap {
        .line {
          padding: 20px 15px;
          flex-flow: column;
          > .column-d,
          > .column-c,
          > .column-b,
          > .column-a {
            width: 100%;
            padding: 0;
            .empty {
              display: none;
            }
          }
          .column-a {
            .title {
              font-size: 16px;
              font-weight: 500;
              line-height: 20px;
            }
            .subtitle {
              margin-top: 10px;
            }
          }
          .column-b {
            margin-top: 20px;
            display: flex;
            flex-flow: row;
            justify-content: flex-start;
            align-items: center;
            > * {
              margin: 0;
            }
          }
          .column-c {
            margin-top: 10px;
          }
          .column-d{
            margin-top: 20px;
            justify-content: space-between;
            > * {
              width: 33%;
            }
          }
        }
      }
    }
    &.pagination {
      .pagination-wrap {
        flex-flow: column;
        padding: 20px 15px;
        .button-for-mobile {
          margin-top: 20px;
        }
        .left {
          order: 2;
          width: 100%;
        }
        .right {
          order: 1;
          .result-data {
            margin-bottom: 20px;
          }
        }
      }
    }
    &.results-info {
      .results-info-wrap {
        &.crickets {
          flex-flow: column;
          .right,
          .left {
            width: 100%;
          }
          .left {
            order: 2;
            margin-top: 20px;
            text-align: left;
            &.no-top-margin {
              margin-top: 0;
            }
          }
          .right {
            order: 1;
            .button {
              width: 100%;
              justify-content:center;
            }
          }
        }
      }

    }
    &.video-with-text {
      .video-text-wrapper {
        padding: 15px;
        background-image: url('#{$path}static/images/photos/i22.jpg');
        background-size: 100%;
        .text-area {
          padding-right: 0;
        }
        .video-place {
          .play-button {
            position: absolute;
            top: calc(50% - 30px);
            left: calc(50% - 30px);
            width: 60px;
            height: 60px;
            img {
              width: 100%;
              height: auto;
              vertical-align: top;
            }
          }
        }
      }
    }
    &.cards-list {
      .title-seperator {
        h2 {
          text-align: left;
        }
      }
    }
    &.plan-fields {
      h2.v2 {
        text-align: left;
        padding: 0 15px;
      }
      .plan-fields-wrap {
        padding: 10px 15px;
      }
    }
    &.filter-tabs-mod-new-practice {
      h2.v2 {
        text-align: left;
        padding: 0 15px;
      }
      .dashboard-container {
        padding: 0 15px;
        .tabs-wrap.no-nav {
          .tabs-content {
            padding: 10px 15px;
          }
        }
      }
    }
    &.practice-list-edit {
      .inner-container  {
        h2.v2 {
          display: block;
          padding: 0 15px;
          .title {
            display: block;
            text-align: left;
            margin-bottom: 20px;
          }
        }
      }
      .practice-list-wrap {
        .line{
          display: block;
          padding:20px 15px;
          .column-a {
            padding-right: 0;
            .drag {
              display: none;
            }
          }
          >.column-c {
            text-align: center;
            margin: 15px 0;
          }
          >.column-c {
            display: flex;
            align-items: center;
            padding: 0;
            .title {
              margin-right: 10px;
            }
            .subtitle {
              margin-top: 0;
              input[type='text'] {
                color: $color_dark_grey;
              }
            }
          }
          > .column-d {
            padding: 0;
            > * {
              width: 50%;
            }
          }
          >.column-c,
          >.column-a {
            width: 100%;
          }
        }
      }
    }
    &.practice-view {
      .buttons {
        .button {
          min-width: 150px;
          text-align: center;
          &.button-with-icon {
            min-width: auto;
            text-align: left;
            margin-left: 0;
          }
        }
      }
      .info-container {
        padding: 14px 15px;
      }
    }
    &.save-back-buttons {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      .save-back-buttons-wrap {
        &.equalize-width {
          > * {
            width: 50%;
          }
        }
        > .button {
          padding: 11px 15px;
          margin: 0 7px;
          &:first-child {
            margin-left: 0;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .button.dark-grey-v2:not(.ico-button) {
        padding: 11px 15px;
      }
      .more-right {
        margin-left: 7px;
        display: flex;
        .button:not(.ico-button), button:not(.ico-button), input[type=button]:not(.ico-button), input[type=submit]:not(.ico-button) {
          padding: 11px 25px;
        }

      }
    }
    &.dash-footer {
      &.footer-mobile-offset-bottom {
        padding-bottom: 80px;
      }
    }
    &.user-panel {
      h2.v2 {
        text-align: left;
        justify-content: flex-start;
        padding: 0 15px;
      }
        .user-panel-container {
          padding: 20px 15px;
          padding-bottom: 15px;
          > .button {
            display: block;
            width: 100%;
          }
        }
       .button-wrap  {
         .button {
           display: block;
           width: 100%;
         }
       }

    }
    &.terms {
      .line {
        padding: 20px 15px;
      }
    }
  }

  .more-than-mobile-display {
    display: none;
  }
  .mobile-only-display {
    display: block;
  }

  /* Components */
  .text-tag,
  .video-tag {
    height: 22px;
    .icon {
      display: flex;
      align-items: center;
      > img {
        vertical-align: top;
      }
    }
    .number {
    }
  }

  .dashpopup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: calc( 100vh + 20px );
    overflow: auto;
    -webkit-overflow-scrolling: unset;
    padding-top: 10px;

    &.share-pdf {
      .share-pdf-form {
        padding: 15px;
        padding-top: 10px;
        padding-right: 15px;
      }
    }
    &.form-popup {
      &.new-post {
        .title {
          margin-bottom: 71px;
           h2 {
             .profile-picture {
               top:30px;
             }
           }
        }
      }
      .dashpopup-wrap {
        .title {
          h2 {
            padding: 0 15px;
          }
        }
        .form-dashboard {
          .buttons-wrap {
            padding: 20px 15px;
            touch-action: none;

          }
          .video {
            margin: 0 15px;
            .entry {
              width: 100%;
              max-width: initial;
            }
          }
          .form-place {
            margin: 20px 15px 15px 15px;
          }
        }
      }
    }
    &.full-screen-mobile {
      padding-top: 0;
      z-index: 250;
      align-items: baseline;
      background: #fff;
      .dashpopup-wrap {
        margin: 0;
        border-radius: 0px;
        min-height: 100vh;
        width: 100vw;
        border: 0;
        .form-dashboard {
          display: block;
          min-height: 100vh;
          .top {
            padding-bottom: 80px;
          }

          .buttons-wrap {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            > * {
              width: 50%;
              margin:0 7px;
              &:first-child {
                margin-left: 0;
              }
              &:last-child {
                margin-right: 0;
              }
            }
          }
        }
      }
    }
    &.personal-practice {
      .practices-count {
        padding: 20px 15px;
      }
      .practices-list {
        padding: 0 15px;
        padding-bottom: 24px;
        .practice{
          display: block;
          .label {
            display: block;
            text-align: left;
          }
          .controls {
            margin-top: 20px;
            display: flex;
            > * {
              width: 50%;
            }
          }
        }
      }
    }

    &.new-practice {
      .new-practices-form {
        padding: 10px 15px;
        padding-bottom: 24px;
      }
    }

    &.add-practice {
      .tabs-menu {
        overflow: auto;
        overflow-y: hidden;
        padding: 0 15px;
        ul {
          width: auto;
          > li {
            > a {
              display: block;
            }
          }
        }
      }
      .buttons-wrap {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
      }
      .tabs {
      }
      .tabs-data {
        max-height: initial;
        padding: 10px 15px;
        padding-bottom: 120px;
        margin-right: 0;
      }
      .search-input {
        margin: 15px;
        margin-top: 15px;
        margin-bottom: 0;
      }
    }
    .dashpopup-wrap {
      max-width: 100vw;
      margin: 0 15px;
      padding: 58px 15px;
      .close {

      }
      .popup-subtitle {
        font-size: 16px;
        font-weight: 500;
        line-height: 16px;
      }
      .popup-title {
        font-size: 24px;
        font-weight: 900;
        line-height: 26px;
        text-align: center;
      }
    }
  }
  /*Dashboard light END*/

  .pagination-input {
    ul {
      li {
        margin: 0px;
        margin-left: 5px;
        &:first-child {
          margin-left: 0;
        }
        > a {
         min-width: 38px;
         height: 38px;
         padding: 0 14px;
        }
      }
    }
  }

  .input-range-with-labels {
    .labels {
      .label-item {
        max-width: 120px;
        text-align: center;
        padding: 0 5px;
        &.begining {
          text-align: left;
          padding-left: 0;
        }
        &.ending {
          text-align: right;
          padding-right: 0;
        }
      }
    }
  }

  .button {
    &.mobile-full-width {
      width: 100%;
    }
  }
  .flash-messages {
    left: 15px;
    right: 15px;
    top:15px;
  }

  /*Iphone zoom deny*/
  input {
    font-size: 16px !important;
  }

  .checkbox-wrap{
    &.larger {
      >span,
      >input[type=checkbox] {
        width: 20px;
        height: 20px;
        background-size: 100%;
      }
    }
  }


}

@media (max-width: 330px) {

  .pagination-input{
     ul {
       li {
         > a {
           padding: 0 10px;
           min-width: 35px;
           height: 35px;
         }
       }
     }
  }
  div.section{

    &.breadcrumbs{
      .breadcrumbs-wrap {
        ul {
          li {
            span,
            a {
              font-size: 10px;
              line-height: 12px;
              padding-right: 5px;
            }
          }
        }
      }
    }
    &.news-feed-list {
      .comment-input {
        .rich-input {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .input {
          input[type=submit] {
            min-width: 80px;
          }
        }
      }
    }
  }
  .input-range-with-labels {
    .labels {
      .label-item {
        max-width: 90px;
      }
    }
  }
  .popup-steps {
    overflow: auto;
    ul {
      li {
        margin-left: 15px;
        &:last-child {
          padding-right: 30px;
        }
      }
    }
  }
  div.section{
    &.save-back-buttons {
      .button.dark-grey-v2{
        &:not(.ico-button) {
          padding: 11px 5px;
          font-size: 10px;
          line-height: 15px;
        }
      }
    }
  }

  .button.smaller.button-with-icon.icon-left, button.smaller.button-with-icon.icon-left, input[type=button].smaller.button-with-icon.icon-left, input[type=submit].smaller.button-with-icon.icon-left {
    margin-left: 5px;
  }
  .button.smaller.button-with-icon.icon-left:before, button.smaller.button-with-icon.icon-left:before, input[type=button].smaller.button-with-icon.icon-left:before, input[type=submit].smaller.button-with-icon.icon-left:before {
    margin-right: 5px;
  }
  div.section.practice-list-edit .inner-container h2.v2 .buttons>* {
    margin-left: 10px;
  }
  .search-input input[type=text],
  input[type=password],
  input[type=text] {
    font-size: 12px;
    @include placeholder {
      font-size: 12px;
    }
  }
  .hide_extra_small {
    display: none;
  }
  .header {
    .buttons {
      .button {
        padding: 9px 10px;
      }
    }
  }
  div.section{
    &.picture-text {
      .text {
        .badges {
          a {
            margin: 0 10px;
          }
        }
      }
    }
  }

  .mobile-menu-wrapper a.close,
  .change-pw-wrapper a.close,
  .login-wrapper a.close,
  .reset-pw-wrapper a.close,
  .signup-wrapper a.close {
    right: auto;
    margin-left: -60px;
    margin-right: auto;
  }



}
@media (min-width: 767px) and (max-width: 991px) {
  .hide_if_table {
    display: none;
  }
  .show_if_tablet {
    display: block;
  }

  .login-wrapper,
  .mobile-menu-wrapper,
  .mobile-menu-wrapper-submenu,
  .reset-pw-wrapper,
  .signup-wrapper,
  .change-pw-wrapper {
    a.close{
      right: auto;
      margin-left: -60px;
      margin-right: auto;
    }
  }
}
@media (min-width: 991px) {
  .show_if_tablet {
    display: none;
  }
}
@media (min-width: 330px) and (max-width: 360px) {

  .mobile-menu-wrapper a.close,
  .change-pw-wrapper a.close,
  .login-wrapper a.close,
  .reset-pw-wrapper a.close,
  .signup-wrapper a.close {
    right: 50%;
    margin-right: 32.5vw;
  }

}
