/* MD */
@media (min-width: 768px) and (max-width: 1023px) {
  div.section {
    &.partners {
      padding: 30px 0;
      .logos {
        padding: 30px 0;
        display: block;
        border-top: 1px solid #E9E9E9;
        &.icons {
          display: flex;
          align-items: center;
          .label {
            margin: 0;
          }
          .logos-flex {
            > * {
              padding: 0 10px;
            }
          }
        }
        .logos-flex {
          > * {
            padding: 0 7px;
            &:first-child {
              padding-left: 0;
            }
            &:last-child {
              padding-right: 0;
            }
          }
        }
        .label {
          padding-right: 0;

          color: $color_comet;
          font-family: $font-stack-2;
          font-size: 14px;
          font-weight: 300;
          line-height: 17px;
          margin-bottom: 15px;
        }
        &:first-child {
          padding-top: 0;
          border-top: 0;
        }
        &:last-child {
          padding-bottom: 0;
        }
      }
      .logos-wrap {
        display: block;
        text-align: center;
        padding: 0;

      }
    }
    &.front-page-picture {
      min-height: auto;
      padding-bottom: 60px;
      h2 {
        color: #FFFFFF;
        font-family: $font-stack;
        font-size: 42px;
        font-weight: 800;
        line-height: 44px;
        margin: 25px 0;
        text-align: left;
      }
    }
  }

  .mobile-menu-wrapper,
  .reset-pw-wrapper,
  .change-pw-wrapper,
  .signup-wrapper,
  .login-wrapper {
    .main-credentials-space {
      .more-link {
        font-size: 13px;
      }
      .buttons {
        .button {
          padding: 11px 25px;
        }
      }
    }
    a.close {
        right: 50%;
        margin-right: -78px;
    }
  }

}

@media (min-width: 768px) and (max-width: 885px) {
  .dashboard-container {
    width: 620px;;
  }
}
