/* LG */
@media (min-width: 1024px) and (max-width: 1279px) {
  .reset-pw-wrapper,
  .change-pw-wrapper,
  .signup-wrapper,
  .login-wrapper {
    a.close {
        right: 50%;
        margin-right: -97px;
    }
  }
  div.section{
    &.video-player {
      .text-area {
        max-width: 223px;
      }
    }
  }
}
@media (min-width: 1025px) and (max-width: 1145px) {
  .dashboard-container {
    width: 880px;
  }
}
