/* XL */
@media (min-width: 1280px) {
  .reset-pw-wrapper,
  .change-pw-wrapper,
  .signup-wrapper,
  .login-wrapper {
    a.close {
        right: 50%;
        margin-right: -122px;
    }
  }
}

@media (min-width: 1280px) and (max-width: 1379px) {
  .dashboard-container {
    width: 1130px;
  }
}
