@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {
    body {
      .button{
        &.ico-button{
          > img {
            vertical-align: middle;
          }
        }
      }
    }
}}
button,
input[type='submit'],
input[type='button'],
.button {
  display: inline-block;
  padding: 11px 35px;
  transition: all cubic-bezier(.165,.84,.44,1) 1.2s;
  border: 0;

	color: $color_white;
	font-family: $font-stack-2;
	font-size: 14px;
	font-weight: 500;
	line-height: 17px;
  box-shadow: 0 1px 15px 0 rgba(0,44,91,0.15);
  text-align: center;
  justify-content: center;

  &.long-button {
    position: relative;
    color: $color_prussian_blue;
    background-color: #fff;
    font-family: $font-stack-2;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    min-width: 267px;
    text-align: left;
    padding: 11px 15px;
    display: inline-flex;
    justify-content: space-between;
    &.spacing-to-the-right {
      margin-right: 8px;
    }
    &:after {
      display: inline-block;
      width: 8px;
      height: 13px;
      content: " ";
      background: url('#{$path}static/images/ico-arrow-right-blue.svg');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      vertical-align: middle;
      position: relative;
      top: 2px;
    }
    > * {
      vertical-align: middle;
    }
  }
  &.nav {
    color: #000;
    text-align: left;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    .icon {
      height: 20px;
      width: 12px;
      transform: rotate(180deg);
      background: url('#{$path}static/images/ico-arrow-right.svg');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      margin-right: 10px;
    }
    .texts {
      .title {
        font-family: $font-stack-2;
        font-size: 16px;
        font-weight: bold;
        line-height: 19px;
      }
      .subtitle {
        color: $color_oslo_gray;
        font-family: $font-stack-2;
        font-size: 12px;
        font-weight: 300;
        line-height: 14px;
        margin-top: 10px;
      }
    }
  }
  &.br-5 {
    border-radius: 5px;
  }
  &.br-15 {
    border-radius: 15px;
  }
  &.br-17 {
    border-radius: 17px;
  }
  &.br-20 {
    border-radius: 20px;
  }
  &:focus {
    outline: none;
  }

  &.white {
    background-color: #fff;
    color: #CED1D3;
    border: 1px solid #CED1D3;
    &.text-color-blue {
      color: $color_dark_grey;
    }
  }
  &.white-border {
    background-color: #fff;
    border: 1px solid #CED1D3;
    color: $color_prussian_blue;
    border: 1px solid $color_prussian_blue;
    &.active,
    &:hover {
      color: #fff;
      background: $color_prussian_blue;
    }
  }

  &.text-color-dark {
    color: $color_dark_grey;
  }
  &.blue {
    background-color: $color_prussian_blue;
    color: #FFFFFF;
    &.active,
    &:hover {
      background-color: $color_btn_blue_hover;
    }
  }
  &.red {
    background-color: $color_btn_red;
    &.active,
    &:hover {
      background-color: $color_btn_red_hover;
    }
  }
  &.green {
    background-color: $color_btn_green;
    &.active,
    &:hover {
      background-color: $color_btn_green_hover;
    }
  }
  &.dark-grey {
    background-color: $button_dark_grey;
    color: #FFFFFF;
    &:hover {
      background-color: #60737E;
    }
  }
  &.dark-grey-v2 {
    background-color: #6E8490;
    color: #FFFFFF;
    &.active,
    &:hover {
      background-color: #60737E;
    }
  }

  &.grey {
    background-color: $button_light_grey;
    color: $color_main_text;
    &.active,
    &:hover {
      background-color: $color_dark_grey;
      color: #fff;
    }
  }
  &.btn-attachments {
    padding: 0;
    background: transparent;
    background-color: transparent;
    height: 30px;
    line-height: 30px;
    width: 15px;
    background: url('#{$path}static/images/ico-attach.svg');
    background-position: center;
    background-repeat: no-repeat;
    &.with-label {
      width: auto;
      box-shadow: none;
      color: $color_dark_grey;
      font-family: $font-stack-2;
      font-size: 12px;
      font-weight: 500;
      line-height: 14px;
      padding-left: 24px;
      background-position: left center;
    }
  }
  &.ico-button {
    padding: 6px;
    min-width: 30px;
    text-align: center;
    text-align: center;
    > img {
      display: inline-block;
      vertical-align: baseline;
    }

    &.larger {
      padding: 10px 10px;
      min-width: 40px;
      > img {
        vertical-align: text-top;
      }
    }
  }
  &.wider-2 {
    min-width: 192px;
    text-align: center;
    justify-content: center;
  }
  &.wider {
    min-width: 138px;
    text-align: center;
    justify-content: center;
  }
  &.button-with-create {
    padding: 11px 20px;
    &:before {
      display: inline-block;
      content: " ";
      height: 12px;
      width: 12px;
      background-image: url('#{$path}static/images/ico-plus-white.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      margin-right: 8px;
    }
    > span {
      position: relative;
      top:-1px;
    }
  }
  &.button-with-close {
    &.grey {
      &:hover {
        background-color: $color_dark_grey;
        > a:not(.close),
        > span {
          color: #fff;
        }
      }
    }
    &.tag {
      padding-right: 10px;
    }
    > a:not(.close),
    > span {
      vertical-align: middle;
      color: $color_dark_grey;
    }
    .close {
      display: inline-block;
      width: 16px;
      height: 16px;
      background-image: url('#{$path}static/images/close-grey.svg');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      margin-left:8px;
      vertical-align: middle;
    }
  }
  &.smaller {
    font-family: $font-stack-2;
    font-size: 12px;
    font-weight: 500;
    //line-height: 14px;
    border-radius: 15px;
    padding: 6px 15px;
    min-width: 80px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    > span {
      position: relative;
      top: -1px;
    }
    &.button-with-icon {
      padding: 5px 15px;
      justify-content: flex-start;
      &.icon-left {
        padding-left: 5px;
        vertical-align: middle;

        &.blue {
          color: #fff;
          &:before {
            background-image: url('#{$path}static/images/ico-cplus-white.svg');
          }
        }
        &:before {
          display: inline-block;
          content: " ";
          width: 20px;
          height: 20px;
          background-image: url('#{$path}static/images/ico-cplus-white+green.svg');
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          vertical-align: middle;
          margin-right: 10px;
        }
        .label {
          vertical-align: middle;
        }
        &.c-icon-plus {
          > span {
            position: relative;
            top:-1px;
          }
        }
        &.c-icon-play {
          padding: 5px 15px;
          padding-left: 5px;
          min-height: 30px;

          min-width: 165px;
          justify-content: flex-start;
          > span {
            position: relative;
            top:-1px;
          }
          &:before {
            width: 20px;
            height: 20px;
            background-image: url('#{$path}static/images/play_button.svg');
            background-size: 112%;
          }
        }
        &.c-icon-pen {
          padding: 6px 15px;
          min-height: 30px;
          &:before {
            vertical-align: top;
            width: 12px;
            height: 12px;
            background-image: url('#{$path}static/images/ico-pen.svg');
          }
        }
        &.c-icon-share {
          padding: 6px 15px;
          min-height: 30px;
          &:before {
            vertical-align: top;
            width: 12px;
            height: 10px;
            background-image: url('#{$path}static/images/share_white.svg');
          }
          > span {
            position: relative;
            top:-1px;
          }
        }
      }
    }
  }
  &.smaller-3 {
    padding: 9px 15px;
    &.button-with-icon {
      &.c-icon-export {
        &:before {
          vertical-align: top;
          width: 13px;
          height: 13px;
          background-image: url('#{$path}static/images/share_white.svg');
        }
      }
    }
  }
  &.smaller-2 {
    padding: 8px 15px;
    box-shadow: none;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;

    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }
  &.larger {
    padding: 13px 44px;
    color: $color_white;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
  }
  &.full-width {
    display: block;
    text-align: center;
    width: 100%;
  }
  &.no-shadow {
    box-shadow: none;
  }
  &.tc-dark {
    color: $color_prussian_blue;
  }
  &.tag {
    color: $tag_button_color;
    font-family: $font-stack-2;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    border: 1px solid $tag_button_color;
    border-radius: 15px;
    padding: 7px 14px;
    &.grey {
      border: 1px solid $color_iron;
    }
  }
  &.icon {
    display: flex;
    align-items: center;
    .icon {
      display: inherit;
      vertical-align: top;
      margin-right: 8px;
      img {
        vertical-align: top;
      }
    }
  }
  &.remove-button {
    padding: 0;
    background: none;
    box-shadow: none;
  }
  &.btn_t5,
  &.btn_t4,
  &.btn_t3,
  &.btn_t2 {
    display: flex;
    align-items: center;
    font-size: 15px;
  	font-weight: 500;
  	line-height: 18px;
    padding: 16px 30px;
    color: $color_dark_grey;
    &[class*="ico"]{
      display: inline-flex;
      align-items: center;
      color: $color_dark_grey;
      font-size: 15px;
      font-weight: 500;
      line-height: 18px;
      box-shadow: none;
      padding: 20px 15px;

      &.active,
      &:hover {
        color: $color_prussian_blue;
      }

      &:before {
        content: " ";
        display: inline-block;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin-right: 5px;
        transition: none;
      }
      &.ico-like {
        &:before {
          height: 17px;
          width: 18px;
          background-image: url('#{$path}static/images/like.svg');
        }
        &.active,
        &:hover {
          &:before {
            background-image: url('#{$path}static/images/like-blue.svg');
          }
        }
      }
      &.ico-comment {
        &:before {
          height: 17px;
          width: 17px;
          background-image: url('#{$path}static/images/comment.svg');
        }
        &.active,
        &:hover {
          &:before {
            background-image: url('#{$path}static/images/comment-blue.svg');
          }
        }
      }
      &.ico-save {
        &:before {
          height: 17px;
          width: 17px;
          background-image: url('#{$path}static/images/save.svg');
        }
        &.active,
        &:hover {
          &:before {
            background-image: url('#{$path}static/images/save-blue.svg');
          }
        }
      }
      &.ico-reply {
        &:before {
          height: 12px;
          width: 14px;
          background-image: url('#{$path}static/images/share.svg');
          transform: rotateY(180deg);
        }
        &.active,
        &:hover {
          &:before {
            background-image: url('#{$path}static/images/share-blue.svg');
          }
        }
      }
      &.ico-share {
        &:before {
          height: 12px;
          width: 14px;
          background-image: url('#{$path}static/images/share.svg');
        }
        &.active,
        &:hover {
          &:before {
            background-image: url('#{$path}static/images/share-blue.svg');
          }
        }
      }
      &.ico-url {
        &:before {
          height: 12px;
          width: 14px;
          background-image: url('#{$path}static/images/url.svg');
        }
        &.active,
        &:hover {
          &:before {
            background-image: url('#{$path}static/images/url-blue.svg');
          }
        }
      }
      &.ico-play {
        &.always-blue {
          &:before {
            background-image: url('#{$path}static/images/play_blue.svg');
          }
        }
        &:before {
          height: 12px;
          width: 14px;
          background-image: url('#{$path}static/images/play_blue_grey.svg');
        }
        &.active,
        &:hover {
          &:before {
            background-image: url('#{$path}static/images/play_blue.svg');
          }
        }
      }
    }
  }
  &.btn_t3 {
    &[class*="ico"]{
      color: $color_dark_grey;
      font-size: 12px;
      font-weight: 500;
      line-height: 14px;
      padding:10px 0;
    }
    &:before {
      margin-right: 8px;
    }
  }
  &.btn_t5 {
    &[class*="ico"]{
      color: $color_dark_grey;
      font-size: 12px;
      font-weight: 500;
      line-height: 14px;
      padding: 0;
      &.active,
      &:hover {
        text-decoration: underline;
      }
      &.ico-play {
        &:before {
          height: 20px;
          width: 20px;
          margin-right: 10px;
        }
      }
    }
  }
  &.btn_t4 {
    &[class*="ico"]{
      padding: 12px 15px;
      color: $color_dark_grey;
      font-family: $font-stack-2;
      font-size: 12px;
      font-weight: 500;
      line-height: 14px;
    }
    &.grey {
      &.active,
      &:hover {
        color: #fff;
        &[class*="ico"]{
          &:before {
            background-image: url('#{$path}static/images/share_white.svg');
          }
        }
      }
    }
    &.smaller {
      &[class*="ico"]{
        padding: 8px 15px;
      }
    }
  }
  &.btn_t1 {
    display: -webkit-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    padding: 16px 30px;
    align-self: center;

    &.smaller {
      font-family: $font-stack-2;
      font-size: 12px;
      font-weight: 500;
      line-height: 14px;
      border-radius: 15px;
      padding: 7px 15px;
      min-width: 80px;
    }
  }
  &.btn_create_post {
    &:before {
      content:" ";
      width: 17px;
      height: 17px;
      display: inline-block;
      background-image: url('#{$path}static/images/ico_create_post.svg');
      background-position: center;
      margin-right: 10px;
      flex-shrink: 0;
    }

  }
  &.btn_view_posts {
    font-size: 13px;
    font-weight: 500;
    color: #6E8490;
    line-height: 16px;
    &:after {
      content:" ";
      width: 6px;
      height: 10px;
      display: inline-block;
      background-image: url('#{$path}static/images/ico-arrow-left.svg');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      flex-shrink: 0;
      margin-left: 10px;
      transform: rotate(-90deg);
    }
  }
  @for $i from 100 through 180 {
    &.min-w-#{$i} {
      min-width: #{$i}px;
    }
  }

}

.pbutton {
  display: inline-block;
  background: none;
  box-shadow: none;
  padding: 0;
  display: flex;
  align-items: center;
  padding: 10px 0;
  > img {
    margin-right: 8px;
  }
  .label {
    color: $color_dark_grey;
    font-family: $font-stack-2;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
  }
}
.cbutton {
  display: inline-block;
  height: 28px;
  width: 28px;
  background-color: $button_arrow;
  border-radius: 100%;
  background-image: url('#{$path}static/images/ico-arrow-down.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.text-tag,
.video-tag {
  display: block;
  background-color: #121B2C;
  border-radius: 21px;
  padding: 5px 12px;
  display: flex;
  align-items: center;
  &.grey {
    background-color: $color_dark_grey;
    .number {
      color: #fff;
    }
  }
  .icon {
    display: flex;
    align-items: center;
    margin-right: 5px;
    bottom: -1px;
    position: relative;
    &.right {
      margin-left: 5px;
      margin-right: 0;
    }
    > img {
      vertical-align: middle;
      position: relative;
      top: -1px;
    }
  }
  .number {
    color: #88A3B2;
    font-family: $font-stack-2;
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
  }
}


.text-tag {
  min-height: 22px;
}

@media (max-width: 767px) {
  .button {
    &.mobile-full-width {
      display: block;
      text-align: center;
    }
    &.mobile-smaller-t2 {
      font-size: 14px;
      font-weight: 500;
      line-height: 18px;
      padding: 11px 0;
    }
    &.mobile-smaller {
      font-size: 12px;
      font-weight: 500;
      line-height: 14px;
      padding: 8px 15px;
    }
  }
}
