@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {
    body {
      .button{
        &.ico-button{
          > img {
            vertical-align: middle;
          }
        }
      }
    }
}}
button,
input[type='submit'],
input[type='button'],
.button {
  display: inline-block;
  padding: 11px 35px;
  transition: all cubic-bezier(.165,.84,.44,1) 1.2s;
  border: 0;

	color: $color_white;
	font-family: $font-stack-2;
	font-size: 14px;
	font-weight: 500;
	line-height: 17px;
  box-shadow: 0 1px 15px 0 rgba(0,44,91,0.15);
  text-align: center;
  justify-content: center;
  &:hover {

  }
  &.br-5 {
    border-radius: 5px;
  }
  &.br-15 {
    border-radius: 15px;
  }
  &.br-17 {
    border-radius: 17px;
  }
  &:focus {
    outline: none;
  }

  &.white {
    background-color: #fff;
    color: #CED1D3;
    border: 1px solid #CED1D3;
  }

  &.text-color-dark {
    color: $color_dark_grey;
  }
  &.blue {
    background-color: $color_prussian_blue;
    color: #FFFFFF;
  }
  &.red {
    background-color: $color_sunset_orange;
    &:hover {
      background-color: #E04644;
    }
  }
  &.green {
    background-color: $button_green;
    &:hover {
      background-color: $button_green_hover;
    }
  }
  &.dark-grey {
    background-color: $button_dark_grey;
    color: #FFFFFF;
    &:hover {
      background-color: #60737E;
    }
  }
  &.dark-grey-v2 {
    background-color: #6E8490;
    color: #FFFFFF;
    &:hover {
      background-color: #60737E;
    }
  }

  &.grey {

  }
  &.grey {
    background-color: $button_light_grey;
    color: $color_main_text;
    &:hover {
      background-color: $color_dark_grey;
      color: #fff;
    }
  }
  &.ico-button {
    padding: 6px;
    min-width: 30px;
    text-align: center;
    text-align: center;
    > img {
      display: inline-block;
      vertical-align: baseline;
    }

    &.larger {
      padding: 10px 10px;
      min-width: 40px;
      > img {
        vertical-align: text-top;
      }
    }
  }
  &.wider-2 {
    min-width: 192px;
    text-align: center;
    justify-content: center;
  }
  &.wider {
    min-width: 138px;
    text-align: center;
    justify-content: center;
  }
  &.smaller {
    font-family: $font-stack-2;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    border-radius: 15px;
    padding: 6px 15px;
    min-width: 80px;
    text-align: center;
    display: inline-flex;
    align-items: center;


    &.button-with-icon {
      padding: 5px 15px;
      &.icon-left {
        padding-left: 5px;
        vertical-align: middle;
        &:before {
          display: inline-block;
          content: " ";
          width: 23px;
          height: 23px;
          margin: -3px;
          background-image: url('#{$path}static/images/play_button_plus.svg');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          vertical-align: middle;
          margin-right: 7px;
          background-position-y: 1px;
        }
        .label {
          vertical-align: middle;
        }
        &.c-icon-play {
          &:before {
            width: 20px;
            height: 20px;
            background-image: url('#{$path}static/images/play_button.svg');
          }
        }
        &.c-icon-pen {
          padding: 8px 15px;
          &:before {
            vertical-align: top;
            width: 12px;
            height: 12px;
            background-image: url('#{$path}static/images/ico-pen.svg');
          }
        }
        &.c-icon-share {
          padding: 8px 15px;
          &:before {
            vertical-align: top;
            width: 12px;
            height: 10px;
            background-image: url('#{$path}static/images/share_white.svg');
          }
        }
      }
    }
  }
  &.smaller-2 {
    padding: 8px 15px;
    box-shadow: none;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
  }
  &.larger {
    padding: 13px 44px;
    color: $color_white;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
  }
  &.full-width {
    display: block;
    text-align: center;
    width: 100%;
  }
  &.no-shadow {
    box-shadow: none;
  }
  &.tc-dark {
    color: $color_prussian_blue;
  }
  &.tag {
    color: $tag_button_color;
    font-family: $font-stack-2;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    border: 1px solid $tag_button_color;
    border-radius: 15px;
    padding: 7px 14px;
  }
  &.icon {
    display: flex;
    align-items: center;
    .icon {
      display: inherit;
      vertical-align: top;
      margin-right: 8px;
      img {
        vertical-align: top;
      }
    }
  }
  &.remove-button {
    padding: 0;
    background: none;
    box-shadow: none;
  }
}

.pbutton {
  display: inline-block;
  background: none;
  box-shadow: none;
  padding: 0;
  display: flex;
  align-items: center;
  padding: 10px 0;
  > img {
    margin-right: 8px;
  }
  .label {
    color: $color_dark_grey;
    font-family: $font-stack-2;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
  }
}
.cbutton {
  display: inline-block;
  height: 28px;
  width: 28px;
  background-color: $button_arrow;
  border-radius: 100%;
  background-image: url('#{$path}static/images/ico-arrow-down.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.video-tag {
  display: block;
  background-color: #121B2C;
  border-radius: 21px;
  padding: 2px 12px;
  display: flex;
  align-items: center;
  .icon {
    margin-right: 5px;
    &.right {
      margin-left: 5px;
      margin-right: 0;
    }
    > img {
      vertical-align: middle;
      position: relative;
      top: -1px;
    }
  }
  .number {
    color: #88A3B2;
    font-family: $font-stack-2;
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
  }
}

@media (max-width: 767px) {
  .button {
    &.mobile-full-width {
      display: block;
      text-align: center;
    }
    &.mobile-smaller-t2 {
      font-size: 14px;
      font-weight: 500;
      line-height: 18px;
      padding: 11px 0;
    }
    &.mobile-smaller {
      font-size: 12px;
      font-weight: 500;
      line-height: 14px;
      padding: 8px 15px;
    }
  }
}
