.moove-gdpr-branding-cnt {
  display: none;
}
.sticky-here {
  position: fixed;
}
/***********/
/*  Extra  */
/***********/
%full_size {
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
}
.tar {
    text-align: right;
}

.tac {
    text-align: center;
}

.tal {
    text-align: left;
}

.hide {
    display: none;
}
.uppercase {
  text-transform: uppercase;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clear:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.mobile_strip {
  position: absolute;
  right: 0;
  left: 115px;
  height: $header-height;
  display: none;
  align-items: center;
  justify-content: flex-end;
  > *:first-child {
    border-left: 0;
  }
  > * {
    padding: 0 15px;
    height: 70px;
    width: 70px;
    border-left: 1px solid $mobile_top_border_color;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
}

.mobile_search_caller {
  font-size: 20px;
}

.mobile_search {
  visibility: hidden;
  transition: all ease-in-out 0.3s;
  opacity: 0;
  height: $mobile_search_height;
  max-height: 0;
  overflow: hidden;
  transform: translateY(-$mobile_search_height);
  form {
    display: flex;
    width: 100%;
  }
  input[type='text'] {
    width: 100%;
    border-radius: 0;
    margin: 0;
    transition: all ease-in-out 0.2s;
    box-shadow:none;
    border: 1px solid transparent;
    height: $mobile_search_height;
    line-height: $mobile_search_height;
  }
  input[type='submit'] {
    border-radius: 0;
    flex: 0 0 70px;
    transition: all ease-in-out 0.2s;
    height: $mobile_search_height;
  }
}
.mobile-search-opened {
  .mobile_search {
    max-height: 1000px;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    display: flex;
    border-bottom: 1px solid $mobile_top_border_color;
  }
  .mobile-navigation-place {
    transform: translateY(40px);
  }
}

.mobile_caller {
  position: relative;
  display: block;
  width: 30px;
  height: 40px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: $link-color;
    border-radius: 4px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    &:nth-child(1) {
      top: 8px;
    }
    &:nth-child(2) {
      top: 17px;
    }
    &:nth-child(3) {
      top: 26px;
    }
  }
  &.open span {
    &:nth-child(1) {
      top: 18px;
      transform: rotate(135deg);
    }
    &:nth-child(2) {
      opacity: 0;
      left: -60px;
    }
    &:nth-child(3) {
      top: 18px;
      transform: rotate(-135deg);
    }
  }
}


body {
  &.mobile-menu-opened {
    overflow: hidden;
  }
  &.mobile-menu-opened .page-wrapper {
    transform: translateX(-$mobile_menu_width);
  }
  &.mobile-menu-opened.mobile-search-opened .mobile-navigation-place {
    transform: translateY($mobile_search_height);
  }
  &.mobile-menu-opened .mobile-navigation-place {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }
  .mobile-navigation-place {
    visibility: hidden;
    opacity: 0;
    overflow-y: auto;
    transition: all ease-in-out 0.2s;
    transform: translateX(230px);
  }
  .page-wrapper {
    transition: all ease-in-out 0.2s;
  }
  .mobile-navigation-place {
    position: fixed;
    top:0;
    bottom:0;
    right:0;
    background-color: $mobile_menu_background;
    width: $mobile_menu_width;
    max-width: 80%;
  }
}

.inlined-tag {
  display: inline-block;
}

.tags-list {
  > * {
    margin-left: 14px;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 14px;
    }
  }
}
.tabs {
  .tabs-nav {
    background-color: $color_greyish;
    ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      > li {
        margin-left: 35px;
        display: flex;
        align-items: center;
        &:first-child {
          margin-left: 24px;
        }
        &:last-child {
          margin-right: 24px;
        }
        > a:not(.button) {
          display: block;
          color: $color_dark_grey;
          font-family: $font-stack-2;
          font-size: 14px;
          font-weight: bold;
          line-height: 18px;
          padding: 18px 0;
          border-top: 2px solid transparent;
          border-bottom: 2px solid transparent;
          position: relative;
          .label {
            position: relative;
          }
          .remove {
            position: absolute;
            top: -12px;
            right: -14px;
            display: block;
            height: 14px;
            width: 14px;
            background-image: url('#{$path}static/images/close.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
          }
          &:after {
            content: " ";
            height: 2px;
            background-color: $color_prussian_blue;
          }
        }
        &.selected {
          > a {
            color: $color_prussian_blue;
            border-bottom: 2px solid $color_prussian_blue;
          }
        }
      }
    }
  }
}
