/***********/
/*  Inputs */
/***********/
textarea {
  max-width: 100%;
  resize: vertical;
  min-height: 150px;
  @include placeholder {
    color: lighten($primary-color, 50%);
  }
  &:focus {
    outline: none !important;
    outline-color: transparent;
    outline-style: none;
  }
}

.checkbox-wrap {
  position: relative;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  flex-shrink: 0;
  > input[type='checkbox'] {
    opacity: 0;
    @include full_size;
    &:checked ~ span {
      border: 1px solid $color_prussian_blue;
      background-color: $color_prussian_blue;
      background-image: url('../images/ico-checkbox.svg');
    }
  }
  > input[type='checkbox'],
  > span {
    display: inline-block;
    height: 14px;
    width: 14px;
    border: 1px solid $color_iron;
    border-radius: 2px;
    background-color: #FFFFFF;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    vertical-align: top;
  }
  > span {
    transition: all ease-in-out 0.3s;
  }
}

input[type='password'],
input[type='text'] {
  width: 100%;
  box-sizing: border-box;
  height: 40px;
  border: 1px solid $color_iron;
  border-radius: 5px;
  background-color: $color_white;
  outline: none;
  //box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
  padding: 0 15px;
  @include placeholder {
    color: $color_gray_chateau;
  }
  &:focus {
    border: 1px solid $color_main_text;
  }
}

select {
  vertical-align: top;
  outline: none;
  height: $input-height;
  line-height: $input-height;
  transition: all ease-in-out 0.2s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &::-ms-expand {
    display: none;
  }
  &:focus {
    border:$input-focus-border;
  }
  option {

  }
}

input[type='text'],
select,
textarea {
  margin: 0;
  color: $input-text-color;
  padding:$input-padding;
}
textarea {
  padding:$input-padding-textarea;
}

.search-input {
  position: relative;
  input[type='text'] {
    width: 100%;
    height: 50px;
    padding: 0 15px;
    padding-right: 45px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
    @include placeholder {
      color: #CED1D3;
      font-family: $font-stack-2;
      font-size: 14px;
      font-weight: 300;
      line-height: 17px;
    }
  }
  input[type='submit'] {
    @include full_size;
    left: auto;
    width: 50px;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    background-image: url('../images/ico-search.svg');
    background-position: center;
    background-repeat: no-repeat;
  }
}
